*{
  box-sizing: border-box;
  margin: 0 auto;
  border: 0;
}

.App.blur {
  filter: blur(2px);
  opacity: 0.3;
}

body{
  background-color: black;
}

button{
  border-radius: 15px;
  border: 2px solid purple;
  background-color: rgba(128, 0, 128, 0.377);
  color: white;
  
}

.title{
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
}

.buttonAdd{
  margin-top: 15px;
  margin-bottom: 15px;
}

.header{
  background-color: gray;
  display: flex;
}

.productList{
  align-items: center;
  justify-content: center;
  margin-top: 25px;  
}
.product{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  color: white;
}

li{
  text-decoration: none;
}

.containerProduct{
  background-color: gray;
  padding: 15px;
  border-radius: 25px;
  width: 250px;
  height: auto;
}

.containerbutton{
  margin-top: 15px;
}

.containerbutton,button{
  margin: 5px;
}
/*******/
.containerForm{
  position: absolute;
  top: 25%;
  left: 15%;
  border: 2px solid white;
  border-radius: 25px;
  display: grid;
  width: 70vw;
  align-items: center;
  justify-content: center;
  display: grid;
  gap: 1rem;
}

.form{
  align-items: center;
  justify-content: center;
  display: grid;
  gap: 1rem;
}

label{
  color: white;
  display: inline-block;
  width: 80px;
  margin: 10px;
}

h1{
  color: white;
}